# API de GitHub
GITHUB_TOKEN=

# Configuración de Supabase API (Para los scripts de Python en /src)
SUPABASE_URL=
SUPABASE_KEY=

SUPABASE_DB_HOST=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=

# Configuración de base de datos (Para dbt y SQLAlchemy en Python)
# DBT_HOST=aws-0-eu-west-1.pooler.supabase.com
# DBT_USER=postgres.gwiyihysfedklvpbjlkr
# DBT_ENV_SECRET_PASSWORD=zyWCstV8ITJeG79b
# DBT_PORT=6543
# DBT_DBNAME=postgres

# Nombre del esquema de desarrollo para dbt
DBT_SCHEMA_DEV = 
DBT_SCHEMA_PROD = 