# Configuración de Supabase API (Para los scripts de Python en /src)
SUPABASE_URL=
SUPABASE_KEY=

# Configuración de base de datos (Para dbt y SQLAlchemy en Python)
DBT_HOST=
DBT_USER=
DBT_ENV_SECRET_PASSWORD=
DBT_PORT=
DBT_DBNAME=

# Nombre del esquema de desarrollo para dbt
DBT_SCHEMA=