# API de GitHub
GITHUB_TOKEN=

# Configuración de Supabase API (Para los scripts de Python en /src)
SUPABASE_URL=
SUPABASE_KEY=

SUPABASE_DB_HOST=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_NAME=
SUPABASE_DB_PORT=

# Nombre del esquema de desarrollo para dbt
DBT_SCHEMA_DEV = 
DBT_SCHEMA_PROD =  